/*Initial Setup*/
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
h1, h2{
    color: #444;
}
p{
    color: #666;
}
h1{
    font-size: 45px;
    line-height: 65px;
}
h2{
    font-size: 32px;
}
.orange-color{
    color:orange;
}

/*Navigation Area*/
.navigation-area{
    background-color: #0B0E17;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    top: 0;
}
.navigation-area a{
    color: #fff;
    padding: 18px;
    text-decoration: none;
    font-size: 20px;
}

/*Top Section Area*/
#top-section{
    padding-top: 50px;  
}
.flexible-container{
    width: 100%;
    display: flex;
}
.half-width{
    width: 50%;
    padding: 60px 60px 30px 60px;
}
.half-width p{
    line-height: 25px;
    margin-bottom: 50px;
    text-align: justify;
    color: #525252;
}
.top-image-area{
    display: block;
    text-align: right;
}
.top-image{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(to right, orange,red);
    padding:15px 35px;
    border-radius: 30px 30px;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
}

/*About Section Area*/
.about-section{
    background-image: url('images/shapes/7.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.about-area{
    width: 40%;
}
.about-image{
    width: 100%;
    padding-top: 30px;
}
.about-text-area{
    padding: 100px 0px 0px 50px;
}
.about-area h2{
    font-size: 33px;
}
.about-area p{
    text-align: justify;
    margin-bottom: 80px;
    color:#444;
    line-height: 30px;
}

/*Recipies Section Area*/
.recipies-section{
    padding: 50px 50px 20px 50px;
}
.recipies-top-section{
    width: 55%;
    margin: 0 auto;
    text-align: center;
}
.one-third-width{
    width: 33.3%;
    margin: 30px;
}
.recipie-item 
{
    box-shadow: rgb(38, 57, 77) 0px 15px 20px -10px;
    padding: 15px;
    border-radius: 10px;
}
.recipie-item img{
    width: 100%;
    border-radius: 10px;
}
.recipie-item h3{
    font-size: 26px;
    margin-top: 40px;
    margin-bottom: 5px;
}
.recipie-item p{
    line-height: 29px;
    margin-top: 12px;
    text-align: justify;
}

/*Menu Section Area*/
.menu-flexible-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
}
.menu-section{
    padding: 50px 50px 50px 50px;
}
.menu-item{
    width: 22%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    margin: 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.menu-item img{
    width: 100%;
}
.menu-item h3{
    font-size: 18px;
}
.menu-item p{
    font-weight: 700;
    font-size: 20px;
    color: rgb(63, 61, 61);
}


/*Social Media Section Area*/
.social-flexible-container{
    width: 93%;
    display: flex;
    justify-content: center;
    margin: 0px auto 100px;
    box-shadow: rgb(38, 57, 77) 0px 5px 15px -10px;
}
.social-item{
    margin: 0;
    width: 25%;
    text-align: center;
    padding: 30px;
}
.social-item h1{
    color: #000;
    margin-bottom: 0;
    font-weight: 900;
}
.social-item p{
    margin-top: 0;
    font-size: 14px;
}

/*Footer Section*/
footer{
    background-color: #0B0E17;
    height: 160px;
    padding-top: 50px;
    text-align: center;
}
footer h2{
    color: #777;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 5px;
}
footer p{
    color: #ccc;
    font-size: 14px;
}