body{
    margin: 0;
    font-family: 'Comfortaa', cursive;
}
h1, h2, p{
    color: #525252;
}
h1{
    font-size: 45px;
    line-height: 65px;
}
h2{
    font-size: 32px;
}
.orange-color{
    color:orange;
}

/*Navigiation Area*/
.navigation-area{
    background-color: #000;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    top: 0;
}
.navigation-area a{
    color: #fff;
    padding: 18px;
    text-decoration: none;
    font-size: 20px;
}

/*Top section Area*/
#top-section{
    padding-top: 50px;  
}
.flexible-container{
    width: 100%;
    display: flex;
    margin-bottom: 60px;
}
.half-width{
    width: 50%;
    padding: 60px 60px 30px 60px;
}
.half-width p{
    line-height: 25px;
    margin-bottom: 50px;
    text-align: justify;
    color: #525252;
}
.top-image-area{
    display: block;
    text-align: right;
}
.top-image{
    width: 75%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(to right, orange,#FB6656);
    padding:15px 35px;
    border-radius: 30px 30px;
    font-size: 17px;
    color: #fff;
    font-weight: 700;
}

/*About Section Area*/
#about-hut{
    background-image: url('images/shapes/7.png');
    background-position: top;
}

.about-image-area{
    padding:50px 30px 30px 120px;
    text-align: left;
}

.about-image{
    width: 80%;
}

.about-text-area{
    padding:80px 120px 30px 30px;
}
.about-text-area p{
    text-align: left;
}

/*Recipies Section Area*/
.recipies-section{
    padding: 0px 50px 50px 50px;
}
.recipies-top-section{
    width: 55%;
    margin: 0 auto;
    text-align: center;
}

.one-third-width{
    width: 33.3%;
    margin: 45px;
    box-shadow: rgba(0, 0, 0, 0.35) 3px 5px 15px;
}

.one-third-width img{
    width: 100%;
    border-radius: 10px;
}
.one-third-width h3{
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 5px;
}
.one-third-width p{
    line-height: 30px;
    margin-top: 12px;
}